*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
font-family: 'Praise', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(benjamin-voros-phIFdC6lA4E-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;    
}

.text-box{
    width: 90%;
    color:  #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;    
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.lomo-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.lomo-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.Solutions{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px;
}
.About{
   width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px; 
 }
.About h1{
     font-size: 36px;
    font-weight: 600;
}
.About p{
   font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px; 
}
.About iframe{
    margin-top: 100px;
    color: #fff;
}
.Services{
   width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px; 
}
.Services h1{
    font-size: 36px;
    font-weight: 600;
}
.Services p{
   font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px;
}
.Services iframe{
    margin-top: 100px;
    color: #fff;
}
.Services p2{
     font-size: 20px;
    font-weight: 600;
}
.Services p3{
     font-size: 20px;
    font-weight: 600;
}
.my_nav_bar{
    position:sticky;
    top: 0;
    z-index: 99999;
}
input{
    background: grey;
}
body{
    text-align: center;
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


